extends layout

block content
  div(id="chart1")
    h1 Chart #01 - Hours of Sleep X Quality of sleep - Line
    svg(style="height: 500px")

  div(id="chart2")
    h1 Chart #02 - Hours of Sleep X Quality of sleep - HistoricalBars
    svg(style="height: 500px")

  div(id="chart2")
    h1 Chart #03 - Hours of Sleep X Quality of sleep - Scatter Chart
    svg(style="height: 500px")

